/* --- DASHBOARD --- */
/* Encabezado */
.dashboard-header {
    @apply flex flex-col justify-start items-center w-full mb-4;
}

.dashboard-welcome {
    @apply text-text-muted text-sm leading-tight;

    & span {
        @apply font-display text-center font-black text-text-main text-2xl block;
    }
}

/* Llamada a la acción */
.dashboard-action-area {
    @apply w-full mb-6;
}

.dashboard-action-btn {
    @apply w-full flex-1 py-5 font-black uppercase tracking-widest shadow-primary-glow/20
}

/* Filtrado por estado */
.filter-scroll-area {
    @apply flex gap-2 overflow-x-auto pb-3;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.filter-scroll-area::-webkit-scrollbar {
    display: none;
}

.filter-pill {
    @apply flex-1 text-[10px]! py-1.5 px-3;
    white-space: nowrap;
}

/* Listado */
.dashboard-recent-list {
    @apply flex flex-col gap-4;
}

.date-group-header {
    @apply text-[9px] font-black uppercase text-text-muted/30 mb-2 flex items-center gap-2;
}

.date-group-header::after {
    content: "";
    @apply flex-1 h-[1px] bg-white/5;
}

.empty-state-compact {
    @apply text-center py-10 text-xs text-text-muted opacity-40 italic border border-dashed border-white/5 rounded-2xl;
}

.date-group-wrapper {
    @apply flex flex-col gap-2;
}

/* --- MATCH CARD --- */
.match-item {
    @apply relative flex items-center gap-3 p-3 rounded-2xl bg-surface border border-white/5 transition-all;
}

/* Indicador de estado lateral */
.status-indicator {
    @apply absolute left-0 top-2 bottom-2 w-1 rounded-r-full;
}

.match-icon-box {
    @apply flex-shrink-0 w-12 h-12 rounded-xl bg-background border border-white/5 flex items-center justify-center text-primary;
}

.match-main-info {
    @apply flex-1 min-w-0 flex flex-col;
}

.match-name-row {
    @apply flex items-center gap-2;

    & h3 {
        @apply text-sm font-display font-black text-text-main uppercase truncate;
    }
}

/* Ganador Badge */
.match-winner-pill {
    @apply text-[8px] font-black bg-emerald-500/10 text-emerald-400 px-2 py-0.5 rounded-md border border-emerald-500/20;
}

.match-players-badge {
    @apply text-[12px]! font-bold text-text-muted flex items-center gap-1;
}

.match-actions {
    @apply flex items-center gap-1;
}

/* Botón de tres puntos para mobile */
.btn-more-options {
    @apply p-2 text-text-muted active:text-text-main transition-colors;
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 340px) {
    .match-item {
        @apply gap-2 p-2;
    }

    .match-icon-box {
        @apply w-10 h-10;
    }
}
