@theme {
    /* --- PALETA DE COLORES "BODEGÓN NOCTURNO" --- */
    /* Fondo principal (Accesible/No cansa la vista) */
    --color-background: #121826;

    /* Superficies de tarjetas y modales */
    --color-surface: #1f2937;

    /* Amarillo Poroto (Acción principal/Dealer) */
    --color-primary: #fde047;
    --color-primary-dark: #eab308;

    /* Índigo (Botones secundarios/Navegación) */
    --color-secondary: #6366f1;

    /* Naranja (Alertas/Jugador fuera) */
    --color-warning: #fb923c;

    /* Blanco Humo (Texto principal) */
    --color-text-main: #f9fafb;
    --color-text-muted: #9ca3af;

    /* --- TIPOGRAFÍA --- */
    --font-display: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;

    /* --- SOMBRAS --- */
    --shadow-primary-glow: 0 0 15px rgba(253, 224, 71, 0.3);
    --shadow-column: 4px 0 10px rgba(0, 0, 0, 0.3);

    /* DEFINICIÓN DE KEYFRAMES NATIVOS */
    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slide-up {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-in-bottom {
        from {
            transform: translateY(1rem);
            /* Este es el "4" de la escala de Tailwind (16px) */
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* REGISTRO DE ANIMACIONES */
    --animation-fade-in: fade-in 0.3s ease-out forwards;
    --animation-slide-up: slide-up 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    --animate-slide-in-bottom: slide-in-bottom 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

/* --- ESTILOS BASE --- */
@layer base {

    html,
    body,
    #root {
        @apply h-full w-full overflow-hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }

    body {
        @apply bg-background text-text-main font-body antialiased min-h-screen flex flex-col;
    }

    h1,
    h2,
    h3,
    .score-number {
        @apply font-display font-bold;
    }
}